/* Nia gabunia  */
/* Top box */
.section5-div{
    max-width: 1440px;
    height: 796px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}
.section5-div-photo{
    width: 554px;
    height: 556px;
}
.section5-div-Text{
    max-width: 456px;
    height: 441px;  
}
.section5-div-Text h5{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #22C55E;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 18px;
    width: 74px;
    height: 22px;
    text-align: center;
    border-radius: 36px;
    background-color: #DCFCE7;
}
.section5-div-Text h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2%;
    font-family: 'Poppins', sans-serif;
    color: #2A3342;
    margin-bottom: 32px;
}
.section5-div-Text p{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #556987;
    margin-bottom: 25px;
}
.section5-div-button{
    width: 128px;
    height: 46px;
    background-color: #22C55E;
    color: #F0FDF4;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    padding: 11px 18px;
    transition: 1s;
}
.section5-div-button:hover{
    background-color: aqua;
    transition: 1s;
}
/* Bottom-box */
.botton-box{ 
    max-width: 1440px;
    height: 796px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
}
.bottom-div-text{
    width: 456px;
    height: 441px;
}
.bottom-div-text h5{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #22C55E;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 18px;
    width: 74px;
    height: 22px;
    text-align: center;
    border-radius: 36px;
    background-color: #DCFCE7;
}
.bottom-div-text h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2%;
    font-family: 'Poppins', sans-serif;
    color: #2A3342;
    margin-bottom: 32px;
}
.bottom-div-text p{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #556987;
    margin-bottom: 25px;
}

.botttom-div-photo{
    width: 584px;
    height: 588px;
}

/* Next Section */
/* Top */
.information{
    max-width: 1440px;
    height: 576px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 64px;
}
.information-text{
    width: 919px;
    height: 180px;
    margin: 0 auto;
    text-align: center;
}
.information-text h5{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #22C55E;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
    width: 73px;
    height: 22px;
    background-color: #DCFCE7;
    border-radius: 36px;
    margin-left: 415px
}
.information-text h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2%;
    font-family: 'Poppins', sans-serif;
    color: #2A3342;
    margin-bottom: 16px;
}
.information-text p{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #556987;
}
/* Bottom */
.information-list{
    width: 1140px;
    height: 162px;
    display: flex;
    margin-top: 60px;
    gap: 32px;
    text-align: center;
    margin: 0 auto;
}
.information-little-box{
    width: 261px;
    height: 98px;
}
.information-little-box h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2%;
    font-family: 'Poppins', sans-serif;
    color: #22C55E;
}
.information-little-box p{
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
   font-family: 'Poppins', sans-serif;
   color: #556987;
}
/* Next Section */
/* Top */
.big-box{
    background-color: #2A3342;
    max-width: 1440px;
    height: 932px;
}
.top-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, 554px);
    column-gap: 32px;
    margin-left: 150px;
} 
.left-box{
    width: 554px;
    height: 273px;
    margin: auto;  
}
.left-box h5{
    color:#14532D;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
    width: 106px;
    height: 22px;
    text-align: center;
    background-color: #DCFCE7;
    border-radius: 36px;
    margin-bottom: 17px;
}
.left-box h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2%;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.left-box p{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #8896AB;
}
.right-box{
    margin-top: 20px;
    position: relative;
    z-index: 1;
}
.caret-button{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #22c55ee1;
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 35%;
}
.caret-button img {
    margin-top: 35%;
    margin-left: 40%;
    color: #FFFFFF;
}
/* Bottom */
.bottom-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, 359px);
    margin-top: 64px;
    gap: 32px 32px;
    margin-left: 150px;
}
.little-box{
    width: 359px;
    height: 174px;
}
.little-box h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin-bottom: 8px
}
.little-box p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8896AB;
    font-family: 'Poppins', sans-serif;
}
.numbers{
    background-color: #22C55E;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -2%;
    color: #2A3342;
    text-align: center;
    padding-top: 9px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
}
/* Next section */
.application-div{
    max-width: 1440px;
    height: 1003px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}
.application-div-text {
    width: 977px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}
.application-div-text h5{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #22C55E;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
    width: 86px;
    height: 22px;
    background-color: #DCFCE7;
    border-radius: 36px;
    text-align: center;
    margin-left: 425px;
}
.application-div-text h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
    font-family: 'Poppins', sans-serif;
    color: #2A3342;
}
.application-image{
    width: 944.65px;
    height: 525px;
    margin-left: 20px;
    border: 20px solid #D5DAE1;
}
.application-text-p{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    width: 919px;
    text-align: center;
    margin-top: 40px;
}
.application-text-buttons{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.application-text-buttons h4{
    width: 138px;
    height: 56px;
    background-color: #22C55E;
    color: #F0FDF4;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    padding: 11px 18px;
    border-radius: 8px;
    border: 1px solid #6951FF0D;
    transition: 1s;
}
.application-text-buttons h5{
    width: 138px;
    height: 56px;
    background-color: #FFFFFF;
    color: #333F51;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    padding: 11px 18px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #6951FF0D;
    transition: 1s;
}
.application-text-buttons h4:hover{
    background-color: aqua;
    transition: 1s;
}
.application-text-buttons h5:hover{
    background-color: aqua;
    transition: 1s;
}
/* Last section */
.last-section-div{ 
    max-width: 1440px;
    height: 650px;
}
.section-div-text{
    padding-top: 88px;
}
.section-div-text h5{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #22C55E;
    font-family: 'Poppins', sans-serif;
    width: 75px;
    height: 22px;
    background-color: #DCFCE7;
    border-radius: 36px;
    padding: 2px 8px;
    margin: 0 auto;
}
.section-div-text h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2%;
    font-family: 'Poppins', sans-serif;
    color: #2A3342;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}
.section-div-text p{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    width: 919px;
    text-align: center;
    margin-left: 200px;

}
.contact-info{ 
    max-width: 1043px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 64px;
}
.contact-info-icons{
    background-color: #22C55E;
    width: 48px;
    height: 48px;
    border-radius: 40px;
    margin: 0 auto;
    padding: 10px 10px;

}
.contacts{
    width: 261px;
    height: 148px;
    padding-top: 20px;
    text-align: center;

}
.contacts h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    font-family: 'Poppins', sans-serif;
    color: #2A3342;
    margin-top: 10px;
    margin-bottom: 8px;
}
/* FOOTER */
.footer{
    background-color: #2A3342;
    height: 400px;
}
.footer-div-box{
    width: 829px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.footer-logo{
    margin-top: 80px;
}
.footer-infos{
    width: 829px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #8896AB;
    margin-top: 80px;
}
.footer-border-line{
    border: 1px solid #333F51;
    margin-top: 227px;
}
.footer-copyright{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #8896AB;
    text-align: center;
    margin-top: 20px;
}